upstream {{ .ServiceName }} {
    server {{ .ServiceName }}:{{ .ServicePort }};
}

server {
    listen      80;
    server_name {{ .ServiceURL }};

    location / {
        proxy_pass        http://{{ .ServiceName }}/;
        proxy_redirect    off;
        proxy_set_header  Host      $host;
        proxy_set_header  X-Real-IP $remote_addr;
        proxy_hide_header X-POWERED-BY;
    }
}
